ANTHROPIC_API_KEY=your_anthropic_api_key_here
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJt6NjNmNjhiZDQtODE1NS00N2FhLWJkYzAtYWFlMjZmOWJlYzhlIn0.xOxkxiYA4aYbrm8IvtLZ5ceph6oHv3SoRzBCCS_jirQ
TAVILY_API_KEY=your_tavily_key_here=tvly-dev-3wSYfZ-BEpLMoYrfZbUxeRG0